/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

 @font-face
   font-family 'PlayfairDisplay'
   src url('/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')

*
  font-family: 'PlayfairDisplay' !important
 .home
  padding: 0!important
  max-width: unset!important
  margin: 0 auto

.home .hero img
  max-height 400px!important
  object-fit: cover
  width: 100%
  margin: 0
  padding: 0
p .medium-zoom-image
  max-height 175px!important
  object-fit: cover
  width: 100%!important

p a
  font-weight: bold
  font-style: italic
p img
  max-height: 40px
  text-align: center
  vertical-align: bottom
h4
  padding-top: 3rem!important
h5
  padding-top: 3.5rem!important