/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

*
  font-family: 'PlayfairDisplay'
 .home
  padding: 0!important
  max-width: unset!important
  margin: 0 auto

.home .hero img
  max-height 400px!important
  object-fit: cover
  width: 100%
  margin: 0
  padding: 0
  

